{% extends 'base.html.twig' %}

        {% block stylesheets %}
            <link href="{{ asset('css/accueil.css') }}" rel="stylesheet" />
        {% endblock %}

    {% block body %}
        <img src="{{ asset('images/covoiturage.jpg') }}" alt="image-carpooling" class="accueil-image">

        {% if app.user is defined%}
            {% if app.user.isadherent == true%}
                <div>
                    <h4>Nouveau Trajet</h4>
                    <form action="#">
                        <label for="lieu depart"> Lieu Depart:</label>
                        <select id="lieu_departs" name="lieu_departs" size="4">
                            <option value="BARBEY">BARBEY</option>
                            <option value="BLANDY">BLANDY</option>
                            <option value="CHAMPDEUIL">CHAMPDEUIL</option>
                            <option value="COURTACON">COURTACON</option>
                        </select><br><br>
                        <label for="lieu_arrivee"> Lieu Arrivee:</label>
                        <select id="lieu_arrivee" name="lieu_arrivee" size="4">
                            <option value="BARBEY">BARBEY</option>
                            <option value="BLANDY">BLANDY</option>
                            <option value="CHAMPDEUIL">CHAMPDEUIL</option>
                            <option value="COURTACON">COURTACON</option>
                        </select><br><br>
                        <label for="heure"> Jour/Heure Depart:</label>
                        <input type="date">
                        <label for="nbr_passagers"> Nombre Passagers:</label>
                        <input type="number">
                        <input type="submit">
                    </form>
                </div>
            {% endif %}
        {% endif %}

        {% if app.user is defined%}
            <h1>4545454</h1>
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Recherche des trajets..">
        {% endif %}

        {% if trajets is defined and trajets is not null%}
            <table id="myTable">
                <tr class="header">
                    <th>Lieu depart</th>
                    <th>Lieu arivee</th>
                    <th>Date depart</th>
                    <th>Heure depart</th>
                </tr>
            {% for trajet in trajets %}

                {% if trajet.lieudepart is defined %}
                    <tr>
                        <td>{{trajet.lieudepart.name}}</td>
                        <td>{{trajet.lieuarrivee.name}}</td>
                        <td>{{trajet.datedepart|date("d/m/Y")}}</td>
                        <td>{{trajet.heuredepart|date("h:i:s")}}</td>
                    </tr>
                {% endif %}

            {% endfor %}
            </table>


        {% endif %}






    {% endblock %}

    {% block javascripts %}
        <script>
            function myFunction() {
                // Declare variables
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");

                // Loop through all table rows, and hide those who don't match the search query
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        </script>
    {% endblock %}
